<html>
<head>
<title>openvidu-mvc-java</title>

<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"></link>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<!-- Bootstrap -->

<link rel="styleSheet" href="style.css" type="text/css" media="screen"></link>
<script src="openvidu-browser-2.16.0.js"></script>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> <img class="demo-logo"
					src="images/openvidu_vert_white_bg_trans_cropped.png" /> MVC Java
				</a> <a class="navbar-brand nav-icon"
					href="https://github.com/OpenVidu/openvidu-tutorials/tree/master/openvidu-mvc-java"
					title="GitHub Repository" target="_blank"> <i
					class="fa fa-github" aria-hidden="true"></i>
				</a> <a class="navbar-brand nav-icon"
					href="http://www.docs.openvidu.io/en/stable/tutorials/openvidu-mvc-java/"
					title="Documentation" target="_blank"> <i class="fa fa-book"
					aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</nav>

	<div id="main-container" class="container">
		<div id="logged">
			<div id="session">
				<div id="session-header">
					<h1 th:text="${sessionName}" id="session-title"></h1>
					<form action="/leave-session" method="post">
						<input type="hidden" name="session-name" th:value="${sessionName}"></input>
						<input type="hidden" name="token" th:value="${token}"></input>
						<button id="buttonLeaveSession" class="btn btn-large btn-danger"
							type="submit" onclick="leaveSession()">Leave session</button>
					</form>
				</div>
				
				<!-- 최상단 비디오(가장 큰 화면) -->
				
				<div id="main-video" class="col-md-6">
					<p class="nickName"></p>
					<p class="userName"></p>
					<video autoplay="autoplay" playsinline="true"></video>
				</div>
				
				<!-- 여기에 입장한 사람들의 비디오를 띄워준다, 내꺼도 여기 있긴해 -->
				
				<div id="video-container" class="col-md-6"></div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="text-muted">OpenVidu © 2017</div>
			<a href="http://www.openvidu.io/" target="_blank"> <img
				class="openvidu-logo"
				src="images/openvidu_globe_bg_transp_cropped.png" />
			</a>
		</div>
	</footer>

</body>

<script th:inline="javascript">

	// Get all the attributes from the template in Thymeleaf style
	var sessionName = [[${ sessionName }]];
	var token = [[${ token }]];
	var nickName = [[${ nickName }]];
	var userName = [[${ userName }]];

 	console.warn('Request of TOKEN gone WELL (TOKEN:' + token + ')');

	OV = new OpenVidu();
	session = OV.initSession();

	session.on('streamCreated', (event) => {
		
		var subscriber = session.subscribe(event.stream, 'video-container');
		
		subscriber.on('videoElementCreated', (event) => {
			appendUserData(event.element, subscriber.stream.connection);
		});
	});

	session.on('streamDestroyed', (event) => {
		removeUserData(event.stream.connection);
	});

	session.connect(token, { clientData: nickName })
		.then(() => {
			$('#session-title').text(sessionName);
			$('#join').hide();
			$('#session').show();
			
			var role = returnRole();
			
			if (role == 'p') { // 퍼블리셔

				var publisher = OV.initPublisher('video-container', {
					audioSource: undefined, // The source of audio. If undefined default microphone
					videoSource: undefined, // The source of video. If undefined default webcam
					publishAudio: true,  	// Whether you want to start publishing with your audio unmuted or not
					publishVideo: true,  	// Whether you want to start publishing with your video enabled or not
					resolution: '640x480',  // The resolution of your video
					frameRate: 30,			// The frame rate of your video
					insertMode: 'APPEND',	// How the video is inserted in the target element 'video-container'
					mirror: false       	// Whether to mirror your local video or not
				});
			
				publisher.on('videoElementCreated', (event) => {
					var userData = {
						nickName: nickName,
						userName: userName
					};
					
					initMainVideo(event.element, userData);
					appendUserData(event.element, userData);
					$(event.element).prop('muted', true); // Mute local video
				});

				session.publish(publisher);
			} else if(role == 'm'){
				var moderater = OV.initPublisher('video-container', {
					audioSource: undefined, // The source of audio. If undefined default microphone
					videoSource: undefined, // The source of video. If undefined default webcam
					publishAudio: true,  	// Whether you want to start publishing with your audio unmuted or not
					publishVideo: true,  	// Whether you want to start publishing with your video enabled or not
					resolution: '640x480',  // The resolution of your video
					frameRate: 30,			// The frame rate of your video
					insertMode: 'APPEND',	// How the video is inserted in the target element 'video-container'
					mirror: false       	// Whether to mirror your local video or not
				});
				moderater.on('videoElementCreated', (event) => {
					// Init the main video with ours and append our data
					var userData = {
						nickName: nickName,
						userName: userName
					};
					initMainVideo(event.element, userData);
					appendUserData(event.element, userData);
					$(event.element).prop('muted', true); // Mute local video
				});

				session.publish(moderater);
			} 
			else {
				console.warn('You don\'t have permissions to publish');
				initMainVideoThumbnail(); // Show SUBSCRIBER message in main video
			}
		})
		.catch(error => {
			console.warn('There was an error connecting to the session:', error.code, error.message);
		});


	function leaveSession() {
		session.disconnect();
	}

	function appendUserData(videoElement, connection) {
		var clientData;
		var serverData;
		var nodeId;
		
		if (connection.nickName) { // 먼저 내 비디오화면 이름들 붙여줘, 내 비디오는 메인에 있다
			clientData = connection.nickName;
			serverData = connection.userName;
			nodeId = 'main-videodata';
		} else {
			clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
			serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
			nodeId = connection.connectionId;
		}
		var dataNode = document.createElement('div');
		dataNode.className = "data-node";
		dataNode.id = "data-" + nodeId;
		dataNode.innerHTML = '<p class="nickName">' + clientData + '</p><p class="userName">' + serverData + '</p>';
		videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
		addClickListener(videoElement, clientData, serverData);
	}

	function removeUserData(connection) {
		var userNameRemoved = $("#data-" + connection.connectionId);
		if ($(userNameRemoved).find('p.userName').html() === $('#main-video p.userName').html()) {
			cleanMainVideo(); // The participant focused in the main video has left
		}
		$("#data-" + connection.connectionId).remove();
	}

	function removeAllUserData() {
		$(".data-node").remove();
	}

	function cleanMainVideo() {
		$('#main-video video').get(0).srcObject = null;
		$('#main-video p').each(function () {
			$(this).html('');
		});
	}

	function addClickListener(videoElement, clientData, serverData) {
		videoElement.addEventListener('click', function () {
			var mainVideo = $('#main-video video').get(0);
			if (mainVideo.srcObject !== videoElement.srcObject) {
				$('#main-video').fadeOut("fast", () => {
					$('#main-video p.nickName').html(clientData);
					$('#main-video p.userName').html(serverData);
					mainVideo.srcObject = videoElement.srcObject;
					$('#main-video').fadeIn("fast");
				});
			}
		});
	}

	function initMainVideo(videoElement, userData) {
		$('#main-video video').get(0).srcObject = videoElement.srcObject; // 비디오 객체?
		$('#main-video p.nickName').html(userData.nickName);
		$('#main-video p.userName').html(userData.userName);
		$('#main-video video').prop('muted', true);
	}

	function initMainVideoThumbnail() {// 서브스크라이버일 경우에만 실행
		$('#main-video video').css("background", "url('images/subscriber-msg.jpg') round");
	}
	
	function returnRole() { // 로그인한 사람의 역할
		if(userName.includes('p')) return 'p';
		else if(userName.includes('m')) return 'm';
		else return 's';
	}
</script>
</html>